* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    background-image:linear-gradient(to top, #A8A8E9, #F8BBD0);
    font-family: afacad;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}
form{
    margin: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    flex-direction: column;
    background: rgba(59, 57, 57, 0.6);
    border-radius: 15px;
    text-align: left;
    color: white;
}

.telacad{
    width: 30%;
    border: 1px solid #FFCC00;
    border-radius: 15px;
    padding: 20px;
    
}

.titulo{
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding: 10px;
}
.link {
    text-align: center; 
    margin-top: 10px; 
}
.login-link:hover {
    text-decoration: underline; 
}

div .button{
    display: flex;
    justify-content: center;
}

input[type=button]{
    width: 50%;
    height: 30px;
    background: rgba(53, 51, 51, 0.6);
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 15px;
    border: 0px;
    border-radius: 15px;
    cursor: pointer;
}

input{
    width: 100%;
    height: 30px;
    font-size: 25px;
    border: 1px solid #555;
    border-radius: 10px;
    padding-left: 10px;
}

label{
    font-size: 25px;
}