/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: afacad;
    background-color: #fff;
    color: #333;
    padding: 20px;
}

/* Container Principal */
.container {
    max-width: 1100px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #d63384;
    margin-bottom: 20px;
}

/* Conteúdo do Carrinho */
.cart-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

/* Itens do Carrinho */
.itens {
    flex: 1;
    min-width: 300px;
}

.itens{
    display: grid;
    align-items: center;
    gap: 15px;
    background-color: #f8f8f8;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.itens img {
    width: 80px;
    height: auto;
    border-radius: 5px;
}

.details {
    flex: 1;
}

.details h2 {
    font-size: 1rem;
    color: #d63384;
    margin-bottom: 5px;
}

.details p {
    font-size: 0.9rem;
    color: #555;
}

.frete {
    color: #28a745;
    font-weight: bold;
}


.preco {
    text-align: right;
}

.preco span {
    font-size: 1.1rem;
    font-weight: bold;
    color: #d63384;
}

.quantidade {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.quantidade button {
    background-color: #d63384;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.quantidade input {
    width: 30px;
    text-align: center;
    border: 1px solid #ccc;
    margin: 0 5px;
}


.resumo {
    width: 250px;
    background-color: #f8f8f8;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.resumo h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.resumo p {
    font-size: 1rem;
    margin-bottom: 8px;
}

.resumo span {
    font-weight: bold;
}

.free {
    color: #28a745;
}

.resumo input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #d63384;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s;
}

.btn:hover {
    background-color: #b0256e;
}

/* Responsividade */
@media (max-width: 768px) {
    .cart-content {
        flex-direction: column;
        align-items: center;
    }

    .summary {
        width: 100%;
        max-width: 400px;
    }
}
