* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #F8BBD0; 
    display: flex;
}

header img{
    max-width: 50%;
    min-width: 30%;
}

header nav ul{
    list-style-type: none; /* Remove os marcadores de lista */
    padding-left: 0;
}

.menu-container {
    background-color: #F8BBD0; 
    font-weight: bold;
    display: flex;
    margin: auto;
}

.menu-item-container {
    padding: 10px;
    margin: 10px;
    height: 20px;
    background-color: #A8A8E9;
    font-weight: bold;
    position: relative;
    border-radius: 5px;
}

.menu-item-container a{
    text-decoration: none;
    color: white;
}

.menu-item-container:hover{
    background-color: #A8A8E9;
    box-shadow: 0 0 10px #ef8bae;
}

.menu-subitem-container {
    display: none;
    position: absolute;
    background-color: #A8A8E9;
    left: 0px;
    top: 40px;
    width: 150px;
}

.menu-item-container:hover .menu-subitem-container{
    display: block;
}

.menu-subitem-container li{
    padding: 10px;
}

.menu-subitem-container div:hover{
    background-color: #9a9;
}

.buscar{
    width:280px ;
    height: 30px;
    margin: auto;
    margin-right: 20px;
    border: none;
    border-radius: 20px;
}

input::placeholder{
    padding-left: 10px;
}

.fav-car-user{
    
}